# ignore dataset folder
dataset/ 

# ignore imgs, json, ckpts
*.png
*.jpg
*.jpeg
*.pth
*.pt
*.txt

# ignore external repo
labelImg

# python cache
__pycache__/
*.pyc

# only tracking images in 'asset' folder
!asset/
!asset/*.png